asgiref==3.8.1
blinker==1.8.2
channels==4.1.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dash==2.9.3
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dj-database-url==2.2.0
Django==5.0.6
django-plotly-dash==2.3.1
djangorestframework==3.15.1
dpd-static-support==0.0.5
dpd_components==0.1.0
Flask==3.0.3
fonttools==4.53.0
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.0
pandas==2.2.2
plotly==5.22.0
psycopg2-binary==2.9.9
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sqlparse==0.5.0
tenacity==8.3.0
typing_extensions==4.12.0
tzdata==2024.1
Werkzeug==3.0.3
