{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% load static %}
{% block conteudo %}
<h1 class=""> Painel </h1>
<div class="form-control ">
    <button class="btn btn-primary">Adicionar ToDo</button>
    <button class="btn btn-success">Atualizar ToDo</button>
</div>

 

<div class="form-control" style="background-color: black;">
   
    <a href="{% url 'sensordata' %}" class="btn btn-primary" style="width: 200px;">Dashboard Temperatura</a>
    <a href="{% url 'grafico_temperatura' %}" class="btn btn-primary" style="width: 200px;">Acompanhamento Temperatura</a>
    <a href="{% url 'peso_view' %}" class="btn btn-primary" style="width: 200px ; ">Peso</a>
    
</div>

<!-- Caso precise de mais conteúdo aqui -->
<div class="form-control wrapper" style="background-color: black">
    <!-- Coloque outros elementos aqui, se necessário -->
</div>

{% endblock conteudo %}

<!--{% include 'footer.html' %}-->
