{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% load static %}
{% block conteudo %}
    <h1>.ToDo</h1>
    <div class="form-control" >
        <button class="btn btn-primary">Adicionar ToDo</button>
        <button class="btn btn-success">Atualizar ToDo</button>
    </div>
    <div class="form-control wrapper" style="background-color: rgb(0, 255, 200)">
         
        <a class="btn btn-primary" href="{% url 'home' %}" >Home</a>
        <hr>
        <hr>
        <h1>Gráfico de Linha</h1>
        <img src="{% url 'line_chart' %}" alt="Gráfico de Linha">    

    </div>
{% endblock conteudo %}

<!--{% include 'footer.html' %}-->
