<!-- plot.html -->
<!DOCTYPE html>
<html>
<head>
    <script>
        // Recarrega a página a cada 30 segundos (30000 milissegundos)
        function reloadPage() {
            setTimeout(function(){
                window.location.reload();
            }, 30000);
        }
        </script>
    <title>Plotly Chart</title>
</head>
<body>
    <h1>Inserir Peso</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
        <a href = "{% url 'deletar_dados_peso' %}" >Listar Dados </a>
    </form>
    <h1>Gráfico de Peso</h1>
    <div>{{ graph_html|safe }}</div>
</body>
</html>
