{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% load static %}
{% block conteudo %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;  /* Ajusta a altura da tela inteira */
            width: 100vw;  /* Ajusta a largura da tela inteira */
            overflow: hidden;  /* Garante que o iframe não tenha barras de rolagem */
        }

        .dash-container {
            width: 100%;  /* Ajuste a largura aqui */
            height: 100%; /* Ajuste a altura aqui */
            position: relative;
            overflow: hidden;  /* Garante que o iframe não tenha barras de rolagem */
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            overflow: hidden;  /* Garante que o iframe não tenha barras de rolagem */
        }
    </style>
    <h1>.ToDo</h1>
    <div class="form-control">
        <button class="btn btn-primary">Adicionar ToDo</button>
        <button class="btn btn-success">Atualizar ToDo</button>
    </div>
    <div class="form-control wrapper" style="background-color: rgb(2, 2, 2)">
        <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
        <hr>
        <hr>
        <h1>Gráfico de Linha</h1>
        
        <div class="container">
            <div class="dash-container">
                <iframe src="/django_plotly_dash/app/SimpleExample/" sandbox="allow-downloads allow-scripts allow-same-origin allow-modals allow-popups allow-popups-to-escape-sandbox"> </iframe>
            </div>
        </div>
    </div>
{% endblock conteudo %}
