<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data</title>
    <script>
        setTimeout(function(){
            window.location.reload(1);
        }, 90000);
    </script>
</head>
<body>
    <h1>Sensor Data</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Temperatura (°C)</th>
            <th>Timestamp</th>
        </tr>
        {% for reading in readings %}
        <tr>
            <td>{{ reading.id }}</td>
            <td>{{ reading.temperatura }}</td>
            <td>{{ reading.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
